.catalog {
  background-color: #f8f8f8;
}

// .catalog__wrapper {
//   width: 320px;
//   margin: 0 auto;
// }

// .catalog__filter {
//   width: 320px;
//   margin: 0 auto;
// }

.catalog__cards-list {
  width: 280px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  height: 420px;
  margin: 0 0 20px;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  font-size: 14px;
  list-style-type: none;
  background-color: #ffffff;
}

.catalog__item:last-child {
  margin: 0;
}

.catalog__link {

  color: @black;
  text-decoration: none;
}

.catalog__item-image {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 188px;
  margin-bottom: 24px;
}

.catalog__product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.catalog__item-description {
  margin: 0;
  line-height: 20px;
}
