.catalog {
  background-color: #f8f8f8;
}

.catalog__wrapper {
  padding-top: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 96px;
  }
}

.catalog__filter {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.catalog__cards-list {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1011px;
    margin-left: 18px;
  }
}

.catalog__list {
  margin: 19px 0 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  height: 420px;
  margin: 0 0 20px;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  font-size: 14px;
  list-style-type: none;
  background-color: #ffffff;
  outline: none;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 40px 30px 0;
    min-height: 440px;
  }

  @media (min-width: @desktop-width) {
    min-height: 460px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.catalog__item:last-child {
  margin: 0;
}

.catalog__link {
  color: @black;
  text-decoration: none;
  outline: none;
}

.catalog__item-image {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 188px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-top: 9px;
    padding-bottom: 8px;
  }
}

.catalog__product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__item-description {
  margin: 5px 0 18px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin: 10px 0 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
  }
}

.catalog__title-section {
  width: 280px;
  margin: 0 auto;
  padding: 5px 0 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 728px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}
