.main-header {
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #f3ebe1;
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header__logo {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  width: 32px;
  height: 36px;
  margin: 12px 20px;
}
