// .main-footer {
//   width: 320px;
//   margin: 0 auto;
// }

// .main-footer__wrapper {
//   width: 320px;
//   margin: 0 auto;
// }
.main-footer__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1360px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }
}

.main-footer__social {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 318px;
    padding: 0 30px 0 0;
  }
}

.main-footer__link-logo {
  width: 82px;
  height: 36px;
  text-decoration: none;
}

.main-footer__logo-text {
  line-height: 20px;
  color: @black;
}

.main-footer__information {
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    width: 728px;
    display: grid;
    grid-template-columns: 223px 222px 223px;
    column-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1012px;
    grid-template-columns: 317px 318px 318px;
    padding: 0;
  }
}

.main-footer__information-container {

}

.main-footer__information-title {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  color: @primary;
}

.main-footer__information-list {
  margin: 0;
  padding: 0;
}

.main-footer__information-item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  list-style-type: none;
}

.main-footer__link {
  display: inline-block;
  min-height: 32px;
  margin-bottom: 4px;
  padding: 8px 0;
  box-sizing: border-box;
  text-decoration: none;
  color: @black;
}
