.main-header {
  width: 100%;
  margin: 0 auto;
}

.main-header__container {
  background-color: #ffffff;
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 60px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 768px;
    min-height: 80px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1440px;
  }
}

.main-header__logo {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  width: 32px;
  height: 36px;
  margin: 12px 20px;

  @media (min-width: @tablet-width) {
    width: 82px;
    margin: 22px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    margin-left: 40px;
  }
}

.main-header__logo-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 126px;
    font-size: 12px;
    color: @base;
  }
}

.main-header__logo-short {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__logo-full {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main-header__logo-symbol {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
