.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 0 44px;

  @media (min-width: @tablet-width) {
    justify-content: right;
  }
}

.pagination__item {
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  background-color: #ffffff;
  cursor: pointer;
}

.pagination__item--secondary {
  @media (min-width: @tablet-width) {
    width: 150px;
  }
}

.pagination__item--current {
  @media (min-width: @tablet-width) {
    margin: 0 20px;
  }
}

.pagination__item-button--prev {
  span {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: @primary;

    span {
      display: block;
      padding-top: 8px;
    }
  }
}

.pagination__item-button--next {
  span {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: @primary;

    span {
      display: block;
      padding-top: 8px;
    }
  }
}

.pagination__link {
  display: block;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  color: @primary;
}

.pagination__link--current {
  font-weight: 600;
  color: @black;
  background-color: #f8f8f8;
}
