.pagination-button {
  position: absolute;
  top: 708px;
  left: 618px;
  display: none;
  width: 202px;
  height: 24px;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.pagination-button__slider {
  position: relative;
  width: 62px;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover::after,
  &:focus::after {
    background-color: @primary;
    opacity: 0.25;
  }
}

.pagination-button__slider:last-child {
  margin: 0;
}

.pagination-button__slider::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 64px;
  height: 4px;
  background-color: #ffffff;
}

.pagination-button .pagination-button__slider--current::after {
  background-color: @primary;
}
