.product-new__carosel {
  position: relative;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
    padding-bottom: 82px;
  }
}

.product-new__carosel--flat-white {
  padding-bottom: 60px;
  background-color: #f3ebe1;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    background: linear-gradient(180deg, rgba(243, 235, 225, 1) 76%, rgba(255, 255, 255, 1) 41%);
  }

  @media (min-width: @desktop-width) {
    min-height: 714px;
    background: none;
    background-color: #f3ebe1;
  }
}

.product-new__carosel--lavender {
  padding-bottom: 60px;
  background-color: #eae6fc;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    background: linear-gradient(180deg, rgba(234, 230, 252, 1) 76%, rgba(255, 255, 255, 1) 41%);
  }

  @media (min-width: @desktop-width) {
    min-height: 714px;
    background: none;
    background-color: #eae6fc;
  }
}

.product-new__carosel--espresso {
  padding-bottom: 60px;
  background-color: #e5e6e8;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    background: linear-gradient(180deg, rgba(229, 230, 232, 1) 76%, rgba(255, 255, 255, 1) 41%);
  }

  @media (min-width: @desktop-width) {
    min-height: 714px;
    background: none;
    background-color: #e5e6e8;
  }
}

.product-new__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
    width: 1280px;
  }
}

.test {
  width: 100%;
}

.product-new__wrapper-image {
  width: 280px;
  margin: 20px auto 7px;

  @media (min-width: @tablet-width) {
    width: 476px;
    margin: 0 auto 10px;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
    margin: 30px 27px 0 26px;
  }
}

.product-new__wrapper {
  min-height: 286px;

  @media (min-width: @tablet-width) {
    width: 608px;
    min-height: 292px;
    margin: 60px auto 0;
  }

  @media (min-width: @desktop-width) {
    width: 625px;
    margin-top: 180px;
  }
}

.product-new__product-name {
  margin: 3px auto 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;

  @media (min-width: @tablet-width) {
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.product-new__text {
  width: 280px;
  margin: 10px auto 21px;
  text-align: center;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 16px;
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: @desktop-width) {
    margin: 17px 0 40px 0;
    text-align: left;
  }
}

.product-new__order {
  display: flex;
  align-items: center;
  width: 230px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 0 0;
  }
}

.product-new__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product-new__price--old-price {
  padding-right: 6px;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: line-through;
  color: @primary;
}

.product-new__button {
  margin-left: 21px;
}

.product-new .swiper-button-prev::after,
.product-new .swiper-button-next::after {
  color: @primary;
  font-size: 20px;
  font-weight: 700;
}

.product-new .swiper-button-prev,
.product-new .swiper-button-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 656px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    height: 714px;
  }
}

.product-new .swiper-button-prev:hover,
.product-new .swiper-button-prev:focus {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.product-new .swiper-button-next:hover,
.product-new .swiper-button-next:focus {
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.product-new .swiper-button-prev:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.product-new .swiper-button-next:active {
  background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.product-new .swiper-button-prev {
  left: 0;
  right: auto;
}

.product-new .swiper-button-next {
  left: auto;
  right: 0;
}
