.range {

}

.range__bar {
  width: 241px;

  @media (min-width: @tablet-width) {
    width: 220px;
  }
}

.range__wrapper-inputs {
  width: 241px;

  @media (min-width: @tablet-width) {
    width: 220px;
  }
}
