.site-list {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 420px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}

.site-list__item {
  min-height: 57px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    min-width: 82px;
    min-height: 80px;
  }
}

.site-list__item--active {
  @media (min-width: @tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: @primary;
    }
  }
}

.site-list__item--active .site-list__link {
  @media (min-width: @tablet-width) {
    color: @primary;
  }
}

.site-list__link {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 0 1px 0 @secondary;
  outline: none;

  &:active {
    color: @black;
    background-color: @secondary;
  }

  @media (min-width: @tablet-width) {
    padding: 32px 20px;
    box-shadow: none;

    &:hover,
    &:focus {
      color: @primary;
    }
  }

  @media (min-width: @desktop-width) {

    // &:active {
    //   color: fade(#ffffff, 30%);
    // }
  }
}
