.social__link {
  outline: none;

  &:hover .social__icon,
  &:focus .social__icon {
    fill: @primary;
    background-color: @secondary;
    border-radius: 4px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.social__item {
  width: 40px;
  height: 40px;
  border-radius: 4px;

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }
}

.social__icon {
  display: block;
  padding: 10px;
  fill: #bdbdbd;
}

.social__icon--pinterest {
  padding: 9px;
}
